<div class="ui vertical segment">
  <div class="ui header">
    <div class="ui huge breadcrumb">
      <%= link_to meetings_path, class:'section' do %>
        <i class="blue briefcase icon"></i>
        <%=t 'module.meetings' %>
      <% end %>
      <i class="right chevron icon divider"></i>
      <div class="active section"><%=t '.new' %></div>
    </div>
  </div>
</div>

<%= render 'form' %>
