<h2 class="ui center aligned icon header">
  <i class="circular red warning icon"></i>
  <%= t('.title') %>
</h2>

<div class="ui segment">
  <pre><%= @pre_auth.error_response.body[:error_description] %></pre>
</div>
