<p>
  <%= t('.copy_to_browser') %>
</p>

<p>
  <%= url_for(controller: 'users', action: 'verify',
      token: @user.verify_email_token, only_path: false) %>
</p>

<p>
  <%= t('.expire', time: l(@user.verify_email_time + 3.day, format: :long)) %>
</p>

<p>
  <%= t('app.name.long') %>
</p>
