<div class="ui vertical segment">
  <div class="ui huge header">
    <div class="ui label">
      <span class="fa fa-newspaper-o fa-fw"></span>
      <%=t 'sidebar.news' %>
    </div>
  </div>
</div>
<%= render 'form' %>
