<label><%= simple_captcha_options[:label] %></label>

<div class="ui labeled input">
  <div class="ui image label">
    <%= simple_captcha_options[:image] %>
    <%= simple_captcha_options[:refresh_button] %>
  </div>
  <%= simple_captcha_options[:field] %>
</div>
