<div class="ui vertical segment">
  <div class="ui huge header">
    <div class="ui label">
      <i class="comments icon"></i>
      <%=t 'sidebar.topics' %>
    </div>
    <%=t '.new' %>
  </div>
</div>
<%= render 'form' %>
