<div class="ui vertical segment">
  <div class="ui huge header">
    <div class="ui label">
      <span class="fa fa-user fa-fw"></span>
      <%=t 'sidebar.users' %>
    </div>
    <%=t '.new' %>
  </div>
</div>

<%= render 'form' %>
