<h2 class="ui center aligned icon header">
  <i class="circular user icon"></i>
  <%= t 'sessions.new.apply' %>
</h2>
<% if flash[:error] %>
  <div class="ui icon error message">
    <i class="attention circle icon"></i>
    <div class="content">
      <p><%= flash[:error] %></p>
    </div>
  </div>
<% end %>
<%= render 'form' %>
