<div class="ui internally celled grid">
  <div class="row">
    <div class="eight wide column">
      <div class="ui info message">
          <div class="header">
            <i class="envelope icon"></i><%=t '.messages.header' %>
          </div>
          <% @messages = 2 %>
          <% if @messages == 0 %>
            <p><%= link_to t('.messages.none'), nil %></p>
          <% elsif @messages == 1 %>
            <p><%= link_to t('.messages.only_one'), nil %></p>
          <% else %>
            <p><%= link_to t('.messages.more_than_one',{number: @messages}), nil %></p>
          <% end %>
      </div>
    </div>
  </div>
</div>
