<div class="ui vertical segment">
  <div class="ui header">
    <div class="ui huge breadcrumb">
      <%= link_to news_index_path, class:'section' do %>
        <i class="blue newspaper outline icon"></i>
        <%=t 'module.news' %>
      <% end %>
      <i class="right chevron icon divider"></i>
      <div class="active section"><%=t '.new' %></div>
    </div>
  </div>
</div>

<%= render 'form' %>
