<div class="ui vertical segment">

  <div class="ui huge header">
    <div class="ui label">
      <span class="fa fa-newspaper-o fa-fw"></span>
      <%=t 'sidebar.news' %>
    </div>
    <%= @news.title %>
  </div>

  <p>
    <%= link_to t('.edit'), edit_news_path(@news), class:"ui button" %>
  </p>
</div>
<div class="ui piled segment"><%= raw @news.content %></div>
