<div class="ui vertical segment">
  <h2 class="ui header">维基 版本比较</h2>
<div>
<% @diff.each do |change,node| %>
  <% if !node.element? and !node.to_html.strip.empty? %>
    <% if change == '-' %>
      <div class="ui primary inverted red segment"><%=raw node %></div>
    <% elsif change == '+' %>
      <div class="ui primary inverted green segment"><%=raw node %></div>
    <% else %>
    <div class="ui segment"><%= node.to_html %></div>
    <% end %>
  <% end %>
<% end %>
