<p>
  <%= t('.copy_to_browser') %>
</p>

<p>
  <%= url_for(controller: 'passwords', action: 'edit',
      token: @user.reset_password_token, only_path: false) %>
</p>

<p>
  <%= t('.expire', time: l(@user.reset_password_time + 3.day, format: :long)) %>
</p>

<p>
  <%= t('app.name.long') %>
</p>
