{% extends "layout.html" %}
{% block content %}
<div class="page-header">
    <h2>个人中心</h2>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="{{sub_uri}}/account/index">个人信息</a></li>
  <li role="presentation"><a href="{{sub_uri}}/account/resume">个人简历</a></li>
  <li role="presentation"><a href="{{sub_uri}}/account/secure">账户安全</a></li>
</ul>
<br/>
<form method="post" action="{{sub_uri}}/account/index">
    <div class="form-group">
        <label for="name">姓名</label>
        <input id="name" name="name" type="text" class="form-control" value="{{user.name}}"/>
    </div>

    <div class="form-group">
        <label for="email">电子邮箱</label>
        <input id="email" name="email" type="text" class="form-control" value="{{user.email}}"/>
    </div>

    <div class="form-group">
        <label for="email_public">电子邮箱（外部可见）</label>
        <input id="email_public" name="email_public" type="text" class="form-control" value="{{user.email_public}}"/>
    </div>

    <p>
        <input class="btn btn-primary" name="commit" value="确认" type="submit">
    </p>
</form>

{% endblock %}
