/*
 *= require_tree .
 *= require_self
 */

 .ui.menu {
   .header.item,
   .dropdown.icon.item {
     padding-top: 0.5em;
     padding-bottom: 0.5em;

     img {
       margin-right: 0.5em;
     }
   }
 }

body.visitor {
  background-color: #F5F5F5;
  overflow: hidden;
}

body.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  .top-fixed-message {
    position:absolute;
    top:-1em;
    z-index:100;
  }

  .ui.menu {
    border-radius: 0;
    margin-bottom: 0;
  }

  .ui.vertical.menu {
    overflow: auto;
  }

  .main {
    display: flex;
    flex-direction: row;
    height: 100%;

    .ui.container {
      width: 100%;
      height: 100%;
      overflow: auto;
      display: block;
      display: flex;
      flex-direction: column;
      padding: 1em;

      .ui.grid {
        margin: 0;
      }
    }
  }
}

.calendar {
  .header {
    text-align: center;
    a {
      padding: 0 0.5em;
      font-size: 120%;
    }
  }
  th{
    width:14.2857% !important;
  }

  .today {
    background: #F5F5F5;
  }

  .prev-month,
  .next-month {
    background: #DDD;
  }
}
