<div class="ui vertical segment">
  <div class="ui huge header">
    <div class="ui label">
      <i class="flag icon"></i>
      <%=t 'sidebar.achievements' %>
    </div>
    <%=t '.new' %>
  </div>
</div>

<%= render 'form' %>
